body {
    font-family: "Open Sans", sans-serif;
    background-image: url("img/background.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

.site-footer {
    background-color: rgb(68, 59, 63);
    padding: 20px 0; }

.navbar {
    background-color:  rgb(68, 59, 63);
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
    
.carousel {
    border: solid;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #d1cbcb;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }